{% extends 'base.html' %}

{% block content %}
    <div class="info-box">
        <ul class="bar">
            <li class="setview">Bridge Name</li>
            <li class="setview">Bridge reading x</li>
            <li class="setview">Bridge reading y</li>
            <li class="setview">Broken Record</li>
            <li class="setview">Repair Record</li>
        </ul>
        <br />
        <ul class="bar">
            <li class="setview">{{ bridge.name }}</li>
            {% if reading %}
            <!---<li class="setview">{{ reading.x }}</li>-->
                <div class="dropdown">
                {% for rx in readingsx %}
                    {% if forloop.first %}
                        <button class="setview dropbtn">{{ rx }}</button>
                        <div class="dropmenu">
                    {% elif forloop.last %}
                        <li class="dropitem">{{ rx }}</li>
                        </div>
                    {% else %}
                        <li class="dropitem">{{ rx }}</li>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="dropdown">
                {% for ry in readingsy %}
                    {% if forloop.first %}
                        <button class="setview dropbtn">{{ ry }}</button>
                        <div class="dropmenu">
                    {% elif forloop.last %}
                        <li class="dropitem">{{ ry }}</li>
                        </div>
                    {% else %}
                        <li class="dropitem">{{ ry }}</li>
                    {% endif %}
                {% endfor %}
                </div>
            <!----<li class="setview">{{ reading.y }}</li>-->
            {% else %}
            <li class="setview">{{ 0.0 }}</li>
            <li class="setview">{{ 0.0 }}</li>
            {% endif %}

            {% if damage_recs %}
                <div class="dropdown">
                {% for rec in damage_recs %}
                    {% if forloop.first %}
                        <button class="setview dropbtn">{{ rec.log_time }}</button>
                        <div class="dropmenu">
                    {% elif forloop.last %}
                        <li class="dropitem">{{ rec.log_time }}</li>
                        </div>
                    {% else %}
                        <li class="dropitem">{{ rec.log_time }}</li>
                    {% endif %}
                {% endfor %}
                </div>
            {% else %}
                <li class="setview">No Damages</li>
            {% endif %}

            {% if repair_recs %}
                <div class="dropdown">
                {% for rec in repair_recs %}
                    {% if forloop.first %}
                        <button class="setview dropbtn">{{ rec.log_time }}</button>
                        <div class="dropmenu">
                    {% elif forloop.last %}
                        <li class="dropitem">{{ rec.log_time }}</li>
                        </div>
                    {% else %}
                        <li class="dropitem">{{ rec.log_time }}</li>
                    {% endif %}
                {% endfor %}
                </div>
            {% else %}
                <li class="setview">No Repairs</li>
            {% endif %}
        </ul>
    </div>
    <div id="myDiv"></div>
    <script type='text/javascript'>
        var calib_readings_json = '{{ readings|safe }}';
        var calib_readings = JSON.parse(calib_readings_json);
        var doc = document.getElementById('myDiv');
        var i;
        var xs = [];
        var ys = [];
        var dates = [];
        for (i=0; i < calib_readings.length; i++) {
            xs[i] = calib_readings[i][0];
            ys[i] = calib_readings[i][1];
            dates[i] = calib_readings[i][2]
        }
        var trace1 = {
            type: "scatter",
            mode: "lines",
            name: 'X displacements',
            x: dates,
            y: xs,
            line: {color: '#17BECF'}};

        var trace2 = {
            type: "scatter",
            mode: "lines",
            name: 'Y displacements',
            x: dates,
            y: ys,
            line: {color: '#7F7F7F'}
        };

        var data = [trace1,trace2];

        var layout = {
            title: "Bridge DATA"
        };

        Plotly.newPlot('myDiv', data, layout);
    </script>
{% endblock %}